.background {
  background-image: url("spotted.png");
  background-position: center center;
      background-size: contain;
      position: fixed;
      top: 0;
      z-index: -1;
      left: 0;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
}
body {
  min-height: 200vh;

  background-color:#8C52FF;
}
header {
  text-align: center;
  font-size: 35px;
  border: 0px;
  padding: 10px;
  margin: 0px;
  background-color:rgb(116, 52, 199) ;
}
h1 {
  font-style: oblique;
  text-align: center;
  border: 0px;
  padding: 0px;
  margin-top: auto;
  background-color:rgb(116, 52, 199)
}
.nav {


  text-align: center;
  padding: 10px;
  margin: 0px;
  background-color:rgb(116, 52, 199)

}
nav a {
  text-decoration: none;
  font-size: larger;
  color:black
}
nav a:hover {
  background-color:rgb(255, 101, 66)
}
nav ul li {
  font-size: larger;
  display: inline-block;
  padding: 10px 40px;
}
h1 + nav + header {
  border: 10px solid;
  border-color: black;
  border-radius: 2px;
}
p {
  text-align: center;
  text-shadow: 5px;
  font-size: 35px;
  text-decoration-thickness: 5px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-style: bold;
  background-color: red ;
  font-size: 16px;
}
.homePage {
  background-color: rgba(255, 255, 255, .55);
}
.pets {
  background-color: rgba(255, 255, 255, .30);
}
.footer {
  background-color: rgba(255, 255, 255, .30);
margin-top: 200px;
}

.about {
  top: 40%;
  background-color: rgba(255, 255, 255, .60);
}
h3 {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, .65);
}

.contact {
  background-color: rgba(255, 255, 255, .30);
margin-top: 300px;
}
.ToolBar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.dog {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 40%;
  height: 40%;
}

.animals {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 90%;
  height: 100%;
}
#Lostpets  {
border: 2px solid;
table-layout: auto;
width: 100%;
text-align: center;
  background-color: rgba(255, 255, 255, .60);
}
tr,td {
align-items: inherit;
}

@media (max-width: 500px) {
  .home {
    font-size: 1.5rem;
  }

#Lostpet {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
  margin: auto;
}
.animals {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 50%;
  height: 50%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-style: bold;
  font-size: 16px;
  margin-bottom: 0%;
}

h3 {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-style: bold;
  font-size: 16px;
}

.contact {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-style: bold;
  font-size: 16px;
}
